<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统一登录平台</title>
    <!--必须的css引用-->
    <link href="assets/css/botstrap.css" rel="stylesheet" />
    <link href="assets/css/login.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

<div>
    <div class="be-content pren">

        <div class="ioc_text">
            <img src="assets/css/logo.png" alt="">
            <span>请登录您的用户</span>
        </div>

        <div>
            <form method="post" action="/login">
                <div class="br-content">
                    <div class="input-group mb-4 bootint">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="用户名">
                    </div>

                    <div class="input-group mb-4 bootint">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="密码">
                    </div>

                    <div class="br-text">
                        <p>
                            <span>忘记密码?</span>
                            <a href="">找回</a>
                        </p>
                    </div>
                    <div style="padding-top: 10px">
                        <input type="submit" class="btn" value="登录">
                    </div>

                    <div class="be-con">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>